<body>
  <h3>Update Offer</h3>
  <div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="offerId">Offer Id</label>
        <input type="text" class="form-control" id="offerId" required [(ngModel)]="offer.offerId" name="offerId" />
      </div>

      <div class="form-group">
        <label for="offerValue">Offer Value</label>
        <input type="text" class="form-control" id="offerValue" required [(ngModel)]="offer.offerValue"
          name="offerValue" />
      </div>

      <button type="submit" class="btn btn-info">Update</button>
    </form>
  </div>

</body>