<p>
    <a [routerLink]="[ '/']">HMS</a>
    <a routerLink = "/offers">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Offers</a>
    <a routerLink="/hotel">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hotel </a>
    <a routerLink="/roomdetails">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Room Details </a>
    <a routerLink="/insertroomdetails">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Insert Roomdetails </a>
    <a routerLink="/updateroomdetails/:roomNo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Update Roomdetails </a>
    <a routerLink="/personaldetails">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Personal Details </a>
    <a routerLink = "/wallet">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wallets</a>
    <a routerLink = "/transactiondetails">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transactionsdetails</a>
    <a routerLink="/bookingdetails">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Booking Details </a>
    <a routerLink="/insertwallet">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Insert Wallet Details</a>
    <a routerLink="/updatewallet/:walletId">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Update Wallet Details </a>
    <a routerLink="/inserttransactions">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Insert Transaction Details </a>
    <a routerLink="/updatetransactiondetails/:transactionId">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Update TransactionDetails </a>
    <a routerLink="/insertpersonaldetails">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Add Personal Details </a>
    <a routerLink="/updatepersonaldetails/:guestId">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Update Personal Details </a>
    <a routerLink="/insertOffer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Add Offers</a>
    <a routerLink="/insertHotel">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Add Hotel</a>
    <a routerLink="updateHotel/:hotelName">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Update Hotel</a>
    <a routerLink="/insertBookingDetails">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Add Booking Details</a>
    <a routerLink="updateBookingDetails/:bookingId">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Update Booking Details</a>
    <a routerLink="/updateOffer/:offerId">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Update Offer</a>
    
    
</p>
