h1{
    font-size: 50px;
    text-align: center;
    border-style: solid;
border-radius: 10px;
border-color: black;
}
h5 {
    font-size: 20px;
}
table, td, th {
    border: 3px solid black;
    
}
table {
    border-collapse: collapse;
}
